<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Whoops!</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="hhttps://cdn.glitch.com/8140252c-b6e1-4ade-a730-6fda0677955c%2Fandroid-chrome-512x512.png?v=1579746812797">
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Whoops</h1>
    <p>
      There's nothing here!
    </p>
  </body>
</html>
